/* Colors to use: #f7f7e6, #a9d3cb, #4d8278*/

body {
    background-color: #f7f7e6;
    font: 16px "Lexend Deca", sans-serif;
}

.pageHeader {
    background-color: #f7f7e6;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7px;
    padding-top: 10px;
    padding-right: 7px;
}

.logo img {
    height: 70px;
    display: block;
    margin-left: -7px;
    margin-bottom: -17px;
    margin-top: -5px;
}

.navLinks {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navLinks a {
    color: #4d8278;
    font-weight: 500;
    font-size: 17px;
    padding: 6px 10px;
    border-radius: 8px;
    transition: 0.2s ease;
}

.navLinks a:hover {
    background-color: #a9d3cb;
    color: #f8f8ec;
}

h1 {
    text-align: center;
    background-color: #4d8278;
    color: #f7f7e6;
    padding: 14px 32px;
    font-size: 50px;
}

form {
    background-color: #abd1c1;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    font-size: 24px;
    color: #fdfbd3;
}

input[type="text"], input[type="date"], input[type="time"] {
    padding: 10px;
    width: 90%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

#cityVisting {
    margin-bottom: auto;
}

.form-group {
    display: flex;          /* <-- required */
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
}

#budgetSlider {
    width: 95%;
}

input:focus {
    outline: none;
    border-color: #4d8278;
    background-color: #f7f7e6;
    box-shadow: 0 0 5px rgba(77, 130, 120, 0.5);
}

.required {
    color: #e12929;
    font-size: 18px;
    font-weight: bold;
}

.itinerary-panel h2 {
    color: #4d8278;
}

.itinerary-panel {
    background-color: #abd1c1;
    color: #fdfbd3;
    padding: 25px;
    border-radius: 10px;
    font-size: 22px;
    min-height: 400px;
}

.split-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 30px auto;
    align-items: start;
}

#previewTripName, #previewCities, #previewDates, #previewBudget {
    color: #4d8278;
}   

.city-tag {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #4d8278;
    color: #f7f7e6;
    padding: 8px 12px;
    border-radius: 20px;
    margin: 6px 6px 0 0;
    font-size: 16px;
}

.remove-btn {
    border: none;
    background: transparent;
    color: #f7f7e6;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}